.privacy-policy {

    margin: 50px auto;
    overflow: scroll;
    padding: 25px;
    border: 1px solid black;
    background-color: white;
    line-height: 1.5;
}

.privacy-policy__item {

    padding-bottom: 30px;
}